@import './varaibles';

$header-height: 68px;

.appNav {
  margin: 0;
  background: $primary-color;
  color: $white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    margin: 0;
  }
  .links-wrapper {
    margin: -1rem 0;
    align-items: center;
    display: flex;
    a {
      color: $white;
      text-decoration: none;
      margin: 0 1rem;
      position: relative;
      font-weight: bold;
      height: $header-height;
      line-height: $header-height;
      border-bottom: 3px solid transparent;
      @include transition(border-color .3s ease);
      &:hover,
      &.is-active {
        border-color: $white;
      }
    }
  }
  .hello-user {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    height: 68px;
    line-height: 68px;
    color: #d2cd3c;
  }
}