@import './varaibles';

.ques-page-wrap_qpw {
  width: 50%;
  margin: 3rem auto;
  border-radius: 4px;
  .questions-wrapper_qw {
    &:hover {
      box-shadow: none;
      transform: none;
    }
  }
  .submit-button {
    color: $white;
    background-color: $primary-color;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:disabled {
      background-color: rgba($primary-color, 0.7);
      cursor: not-allowed;
    }
  }
}



// Radio buttons style
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: $white;
  border-radius: 50%;
  border: 2px solid $primary-color;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: $white;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $primary-color;
}